{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()

 <!--<div{{ attributes.addClass(classes) }}>
                {{ title_prefix }}
                {{ title_suffix }}
                {% block content %}
                {% endblock %}-->
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{% block content %}
<section class="get-contact">
    <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
        <div class="wky-container">
            <div class="wky-row wky-wrap">
                    <div class="wky-col-sm-12 wky-col-lg-6 get-in-touch-wrapper">
                        <div class="get-in-touch">
                            {% if label %}
                            <h3 class="heading">{{ label }}</h3>
                            {% endif %}
                            {% if content.field_subtitle %}
                            <h3 class="heading light">{{ content.field_subtitle.0|render|striptags|trim }}</h3>
                            {% endif %}
                            {% if content.body %}
                            <p class="description">{{ content.body }}</p>
                            {% endif %}
                            {% if content.field_email %}
                            <a href="mailto:{{ content.field_email.0|render|striptags|trim }}" class="mail-link">{{ content.field_email.0|render|striptags|trim }}</a>
                            
                            {% endif %}
                            {% if content.field_link %}
                            <a href="{{ content.field_link.0['#url'] }}" class="btn primary-btn right-arrow bg-blue">{{ content.field_link.0['#title'] }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wky-col-sm-12 wky-col-lg-6 contact-wrapper">
                        <div class="contact">
                            <h3 class="heading">Contact Us</h3>
                            {{ drupal_entity('webform', 'contact') }}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}