{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{%
  set row_classes = [
    default_row_class ? 'views-row',
  ]
%}
<section class="insights-listing">
    <div class="wky-container">        
        <div class="wky-row wky-wrap">
            {% for key,row in rows %}
                <div class="wky-col-sm-12 wky-col-lg-4 partcol">
                    <div class="partners-listing-item">
                        <div class="insight-image">
                            {{ view.style_plugin.getField(key, 'field_partner_image1') }}
                        </div>
                        <div class="insight-content">
                            <h4 class="heading light"><a href="{{ view.style_plugin.getField(key, 'url')|striptags|trim }}">{{ view.style_plugin.getField(key, 'title') }}</a></h4>
                            <p class="client-description">{{ view.style_plugin.getField(key, 'body') }}</p>
                            <!--<a  href="{{ view.style_plugin.getField(key, 'view_node_1')|striptags|trim }}" class="client-link btn primary-btn">Read more</a>-->
                        </div>
                    </div>                    
                </div>
            {% endfor %}
        </div>
    </div>
</section>